body {
	text-align: center;
	background-color: #ff1d58;
 
}

h1 {
	font-size: 5rem;
	color: #0049B7;
	font-family: cursive;
	text-shadow: 3px 0 #DA0463;
}

.w {
	background-image: url("image/tom1.png");
}

.a {
	background-image: url("image/tom2.png");
}

.s {
	background-image: url("image/tom3.png");
}

.d {
	background-image: url("image/tom4.png");
}

.j {
	background-image: url("image/crash.png");
}

.k {
	background-image: url("image/kick.png");
}

.l {
	background-image: url("image/snare.png");
}

.all {
	margin: 10% auto;
}

.animation {
	box-shadow: 0 3px 4px 0 #0049B7;
	opacity: 0.5;
 
}

.button {
	outline: none;
	border: 10px solid #101357;
	font-size: 5rem;
	font-family: 'Arvo', cursive;
	line-height: 2;
	font-weight: 900;
	color: black;
	text-shadow: 3px 0 #DBEDF3;
	border-radius: 15px;
	display: inline-block;
	width: 150px;
	height: 150px;
	text-align: center;
	margin: 10px;
	background-color: #ff1d58;
    box-shadow: 0 3px 4px 0 #0049B7;
}
